 
<launch>
    <arg name="record" default="false"/>
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="roll" default="0"/>
    <arg name="pitch" default="0"/>
    <arg name="yaw" default="0"/>
 
    <node
        pkg="turtlebot_rrt"
        name="turtlebot_rrt"
        type="turtlebot_rrt.py"
        output="screen"
        launch-prefix="gnome-terminal --command"
     />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value ="$(find turtlebot_rrt)/world/map.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
	<arg name="gui" value="true"/>
	<arg name="headless" value="false"/>
	<arg name="debug" value="false"/>
    </include>

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot_description)/robots/kobuki_hexagons_kinect.urdf.xacro'"/>
    <node name="spawn_turtlebot_model" pkg="gazebo_ros" type="spawn_model"
          args="-x $(arg x) -y $(arg y) -z $(arg z) -roll $(arg z) -pitch $(arg pitch) -yaw $(arg yaw) -unpause -urdf -param robot_description -model"/> 
</launch>
